* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #0a22f4;
  height: 308px;
  width: 1920px;
}
h1 {
  color: #ffffff;
  font-size: 32px;
  font-family: Helvetica;
  padding-top: 70px;
  padding-left: 240px;
  display: inline-block;
}
.circle {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 20px;
  display: inline-block;
}
h2, p  {
  margin-left:250px;
  display:grid;
  padding:0px;
}
.partners {
  display:grid;
  padding-left:0px;
}
.work  p {
  width:462px;
  height:240px;
  
}

.circle:last-child {
  margin-right: 0px;
}
.circle:nth-child(2),
.circle:last-child {
  opacity: 0.3;
}
.circles {
  margin-left: 1185px;
  display: inline;
}
.grid {
  display: flex;
}
.grid img {
  border-radius: 15px;
  background: transparent;
  width: 463px;
  height: 420px;
  position: relative;
}
.imageinfo img {
  margin-left: 240px;
  margin-top: -100px;
}
.grid h4 {
  position: absolute;
  padding: 30px 70px 30px 31px;
  font-size: 18px;
  opacity:1;
  text-align: left;
  background-color: #FFFFFF 0% 0% no-repeat padding-box;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  margin-left: 10px;
  width:432px;
  margin-top:-5px
}
.imageinfo h4 {
  margin-left: 240px;
  top: 485px; 
 
}
.imageinfo2 img {
  margin-top: -200px;
  margin-left: 25px;
  width: 520px;
  height: 500px;
}
.imageinfo2 h4 {
  margin-left:75px;
  top: 410px;
  max-height:auto;
}
.imageinfo3 img {
  margin-left: 25px;
  margin-top: -100px;
}
.imageinfo3 h4 {
  margin-left: 50px;
  top: 485px;
}
section:last-child h4,
p {
  display: inline;
}
section:last-child h4 {
  margin-left: 20px;
  
}
h4 {
  margin-left: 1480px;
}
.section_last {
  margin-top: 70px;
}
.section_last p{
  margin-left:1700px;
}
footer {
  background-color: #0a22f4;
  height: 1100px;
  font-family:Bold;
  margin: -0px;
  padding: 0px;
  box-sizing: border-box;
}

footer div {
  display: inline-block;
}

footer p {
  color: #ffffff;
  width: 26px;
  height: 16px;
  font-family:Arial, Helvetica, sans-serif
}

footer div img {
  background-color: white;
}

.kontakti {
  color: #ffffff;
  margin-left: 240px;
  padding-top: 275px;
  font-size: 32px;
}

.loremi {
  font-size: 16px;
  margin-top: 30px;
  margin-left: 240px;
  margin-bottom: 58px;
  width: 463px;
  display:grid;
}

iframe {
  height: 197px;
  width: 463px;
  margin-top: 58px;
  margin-left: 240px;
  border-radius: 15px;
}

.map {
  display: block;
  filter: drop-shadow(-10px 10px 0px white);
}

.call {
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  margin-left: 240px;
  border-radius: 50px;
  padding: 22px;
  margin-top: 92px;
  margin-bottom: 206px;
}

 span {
  font-size: 22px;
  color: #ffffff;
  padding-left: 62px;
}

.mail {
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  margin-left: 240px;
  border-radius: 50px;
  padding: 22px;
  margin-top: 92px;
  
}
.gmail {
  margin-top:150px
}

.upleba {
  display: inline;
  width: 209px;
  height: 19px;
  font-size: 16px;
  color: #ffffff;
  margin-left: 190px;
  margin-top: 206px;
  margin-bottom: 40px;
}

.damzadebulia {
  display: inline;
  font-size: 13px;
  width: 106px;
  height: 16px;
  color: #ffffff;
  margin-left: 896px;
}

div .guli {
  background: transparent;
  width: 26px;
  height: 26px;
}

.it {
  width: 26px;
  height: 16px;
  padding-left: 10px;
}

.footer-logo {
  height: 35px;
  background: transparent;
  padding-left: 30px;
}
